# Xcode
.build/
DerivedData/
*.xcworkspace/xcuserdata/
*.xcuserstate
*.xcscmblueprint
*.xccheckout
*.moved-aside
*.xcuserdatad/**
*.xcsettings

# SwiftPM
.swiftpm/
.build/
Package.resolved

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# iOS
*.ipa
*.dSYM.zip
*.dSYM

# macOS
.DS_Store

# Logs
*.log

# User-specific
xcuserdata/

# Misc
*.orig
*.rej
